{% extends "admin/dashboard.html" %}
{% block content %}
    <div class='w-1/2 mx-auto my-8'>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <div class="mt-4 flex justify-center">
            <button type="submit" class="px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-700 transition">
                Assign Role
            </button>
        </div>
    </form>
</div>

{% if messages %}
          <div class="fixed top-16 right-4 message-container space-y-2">
            {% for message in messages %}
              <div class="px-4 py-3 rounded shadow text-white text-bold
                {% if message.tags == 'error' %} bg-red-600
                {% elif message.tags == 'success' %} bg-green-600
                {% else %} bg-blue-500
                {% endif %}">
                {{ message }}
              </div>
            {% endfor %}
          </div>

          <script>
            setTimeout(() => {
              document.querySelectorAll('.message-container').forEach(el => el.remove());
            }, 4000);
          </script>
{% endif %}

{% endblock content %}

