{% extends "base.html" %}
{% block content %}
    <br>
    <div class='mx-auto w-1/2 my-9'> 
        <h2 class="underline mx-auto my-2">SIGN-IN</h2>
        {% if messages %}
            {% for message in  messages%}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %}">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            {% comment %} <br> {% endcomment %}
            <button class='bg-blue-500 px-2 py-1 rounded text-white mt-4' type="submit">Submit</button>
        </form>
    </div>
    <br>

{% endblock content %}
